<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chart</title>
    {{ css_resources|indent(4)|safe }}
    {{ js_resources|indent(4)|safe }}
    {{ plot_1_script|indent(4)|safe }}
    {{ plot_3_script|indent(4)|safe }}
    {{ plot_4_script|indent(4)|safe }}
    {{ plot_5_script|indent(4)|safe }}
    {{ plot_6_script|indent(4)|safe }}
    {{ plot_7_script|indent(4)|safe }}
    {{ plot_8_script|indent(4)|safe }}
    {{ plot_9_script|indent(4)|safe }}
    {{ plot_10_script|indent(4)|safe }}
    {{ plot_11_script|indent(4)|safe }}
    {{ plot_12_script|indent(4)|safe }}
    {{ plot_13_script|indent(4)|safe }}
  </head>
  <body>
    {{ plot_1_div|indent(4)|safe }}
    {{ plot_3_div|indent(4)|safe }}
    {{ plot_4_div|indent(4)|safe }}
    {{ plot_5_div|indent(4)|safe }}
    {{ plot_6_div|indent(4)|safe }}
    {{ plot_7_div|indent(4)|safe }}
    {{ plot_8_div|indent(4)|safe }}
    {{ plot_9_div|indent(4)|safe }}
    {{ plot_10_div|indent(4)|safe }}
    {{ plot_11_div|indent(4)|safe }}
    {{ plot_12_div|indent(4)|safe }}
    {{ plot_13_div|indent(4)|safe }}
  </body>
</html>
