{% extends 'content/base.html' %}

{% block content %}
  <article>
    <header>
      <h1>The SeeOurMinds.com Quiz</h1>
      <p>Welcome to the SeeOurMinds Quiz&sup1;.</p>
      <p>The SeeOurMinds Quiz is a work in progress,
        so please check back later.</p>
    </header>
    <h3>ContactForm:</h3>
    <form action="quiz/contact_form" method="POST">
      {% csrf_token %}
      <p>plain "form" fields below?</p>
      {{ form }}
      <p>"form" fields above?</p>
      <input type="submit" value="Submit" />
    </form>
    <form action="quiz/contact_form" method="POST">
      <p>DIY labels for each field below:</p>
       {{ form.non_field_errors }}
       <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="{{ form.subject.id_for_label }}">Email subject:</label>
           {{ form.subject }}
       </div>
       <div class="fieldWrapper">
           {{ form.message.errors }}
           <label for="{{ form.message.id_for_label }}">Your message:</label>
           {{ form.message }}
       </div>
       <div class="fieldWrapper">
           {{ form.sender.errors }}
           <label for="{{ form.sender.id_for_label }}">Your email address:</label>
           {{ form.sender }}
       </div>
       <div class="fieldWrapper">
           {{ form.cc_myself.errors }}
           <label for="{{ form.cc_myself.id_for_label }}">CC yourself?</label>
           {{ form.cc_myself }}
       </div>
       <p>DIY labels for each field above?</p>
    </form>
    <form action="quiz/contact_form" method="POST">
      {% csrf_token %}
      <p>list of fields below:</p>
      <div class="fieldWrapper">
        {{ form.subject.errors }}
        {{ form.subject.label_tag }}
        {{ form.subject }}
      </div>
      <div class="fieldWrapper">
        {{ form.message.errors }}
        {{ form.message.label_tag }}
        {{ form.message }}
      </div>
      <div class="fieldWrapper">
        {{ form.sender.errors }}
        {{ form.sender.label_tag }}
        {{ form.sender }}
      </div>
      <div class="fieldWrapper">
        {{ form.cc_myself.errors }}
        {{ form.cc_myself.label_tag }}
        {{ form.cc_myself }}
      </div>
      <p>list of fields above?</p>
      <input type="submit" value="Submit" />
    </form>
    <form action="quiz/contact_form" method="POST">
      {% csrf_token %}
      <ul>
         <li>form.as_ul below:</li>
         {{ form.as_ul }}
         <li>form.as_ul above?</li>
      </ul>
      <input type="submit" value="Submit" />
    </form>
    <form action="quiz/contact_form" method="POST">
      {% csrf_token %}
      <p>form.as_p below:</p>
      {{ form.as_p }}
      <p>form.as_p above?</p>
      <input type="submit" value="Submit" />
    </form>
    <hr />
    <hr />
    <h3>NameForm:</h3>
    <form action="quiz/name_form" method="POST">
      {% csrf_token %}
      <p>plain "form" fields below?</p>
      {{ form }}
      <p>"form" fields above?</p>
      <input type="submit" value="Submit" />
    </form>
    <form action="quiz/name_form" method="POST">
       <p>DIY labels for each field below:</p>
       <div class="fieldWrapper">
          {{ form.your_name.errors }}
          <label for="{{ form.your_name.id_for_label }}">Your Name</label>
          {{ form.your_name }}
       </div>
       <p>DIY labels for the your_name field above?</p>
    </form>
    <form action="quiz/name_form" method="POST">
    {% csrf_token %}
       <p>list of fields below:</p>
       <div class="fieldWrapper">
        {{ form.your_name.errors }}
        {{ form.your_name.label_tag }}
        {{ form.your_name }}
       </div>
       <p>list of fields above?</p>
    </form>
    <form action="quiz/name_form" method="POST">
      {% csrf_token %}
      <ul>
         <li>form.as_ul below:</li>
         {{ form.as_ul }}
         <li>form.as_ul above?</li>
      </ul>
      <input type="submit" value="Submit" />
    </form>
    <form action="quiz/name_form" method="POST">
      {% csrf_token %}
      <p>form.as_p below:</p>
      {{ form.as_p }}
      <p>form.as_p above?</p>
      <input type="submit" value="Submit" />
    </form>
    <hr />
    <hr />
    <hr />
    <hr />
    <p>&sup1; The SeeOurMinds Quiz is also known as the Graphical Representations of Jungian Archetypes
       or "Groja" Quiz.</p>
  </article>
{% endblock %}

{% block aside %}
  {{ block.super }}
  <h3>What?!?</h3>
  <p>
    If you miss the old site and want to ressurect it on your own server, you can do it:
    most of the code is available
    <a href="https://github.com/tomwhartung" title="My github page" target="blank">
      on github</a>!
  </p>
  <p>
    The
    <a href="https://github.com/tomwhartung/seeourminds.com-joomla"
       title="The seeourminds.com-joomla repo on github" target="blank">
      seeourminds.com-joomla repo</a>,
    contains the core code used by the old site, and the
    <a href="https://github.com/tomwhartung?page=1&q=joomoo&tab=repositories&utf8=%E2%9C%93&utf8=%E2%9C%93&q=joomoo"
       title="List of my github repos with names containing 'joomoo'" target="blank">
      joomoo* repos</a>
    contain the code for most of the extensions.
    For more information about these, see my
    <a href="https://tomwhartung.github.io/joomla-1x/"
       title="My github.io page about the joomla 1.x extensions I wrote" target="blank">
      github.io/joomla-1x page</a>.
  </p>
  <h3>For Updates</h3>
  <p>
    To stay up-to-date on all this, join our email list!</p>
  <!-- This code was copied from groja.com and uses bootstrap classes -->
  <!-- So at some point we need to either add bootstrap or clean out these styles -->
  <form class="navbar-form navbar-right" role="form">
    <div class="form-group">
      <input type="text" placeholder="Email" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Sign in</button>
  </form>
{% endblock %}
