{% extends "base.html" %}

{% block title %}Name Email Form{% endblock %}

{% block content %}
  <div class="container">
    <h3>Frankenform Project</h3>
    <p>Hi, and welcome to the Frankenform project.  Please share your details!</p>
    <h2>Name Email Form</h2>
    {{ super() }}
    <form  action="" method="post" role="form">
      {{ form.csrf }}
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name"
          {% if form.name.data %}
            value="{{ form.name.data }}"
          {% else %}
            placeholder="What's your name?"
          {% endif %}
          id="name" name="name">
        <br>
        <label for="email">Email:</label>
        <input type="text" class="form-control"
          {% if form.email.data %}
            value="{{ form.email.data }}"
          {% else %}
            placeholder="Your email will be used to contact you."
          {% endif %}
          id="email" name="email">
      </div>
      <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
  </div><!-- .container -->
{% endblock %}
