{% extends "base.html" %}
{% block title %}Contact Me{% endblock %}
{% block head %}
   {{ super() }}
   <style>
   </style>
{% endblock %}

{% block toprowcontent %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <article class="jumbotron">
    <section id="name-email-form">
      <p>
        For details about how you can get your personalized
         Spiritual Portrait, enter your name and email address, and
         we will contact you within 24 hours!
      </p>
      <form  action="" method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label for="name">{{ form.name.label }}</label>
          {{ form.name( class="form-control", value=form.name.data ) }}
          <label for="email">{{ form.email.label }}</label>
          {{ form.email( class="form-control", value=form.email.data ) }}
        </div>
        <button type="submit" class="btn btn-success">Sign Up</button>
      </form>
    </section><!-- #name-email-form -->
  </article><!-- .jumbotron -->
  <article class="other-options">
    <section id="social-media">
      <h3>Or, if you prefer &mdash; send a message:</h3>
      <ul class="social-list">
          <li><a class="icons-sm fb-ic"><i class="fa fa-2x fa-facebook"></i>&nbsp;Message us on facebook</a></li>
          <li><a class="icons-sm tw-ic"><i class="fa fa-2x fa-twitter"></i>&nbsp;Message us on twitter</a></li>
          <li><a class="icons-sm li-ic"><i class="fa fa-2x fa-linkedin"> </i>&nbsp;Message us on linkedin</a></li>
          <li><a class="icons-sm git-ic"><i class="fa fa-2x fa-github"> </i>&nbsp;Message us on github</a></li>
          <li><a class="icons-sm gplus-ic"><i class="fa fa-2x fa-google-plus"></i> Google +</a></li>
          <li><a class="icons-sm ins-ic"><i class="fa fa-2x fa-instagram"> </i> Instagram</a></li>
          <li><a class="icons-sm pin-ic"><i class="fa fa-2x fa-pinterest"> </i> Pinterest</a></li>
      </ul>
    </section><!-- #social-media -->
    <hr>
    <section id="keep-it-old-school">
    <h3>Or, if you prefer &mdash; keep it old school:</h3>
    <ul>
      <li>Call us at 303-863-1757.</li>
      <li>Send us a letter at 2075 Emerson Street, Denver, CO 80218.</li>
    </ul>
    <h2>Thanks &mdash; and we look forward to hearing from you soon!</h2>
    </section><!-- #keep-it-old-school -->
  </article><!-- .other-options -->
{% endblock %}
{% block toprowsidebox %}
  {{ super() }}
  <section id="process">
    <div class="sidebox">
      <h3>Process</h3>
      <p>
        Here is the process.</p>
      <ol>
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ol>
      <p>
        Thanks for your cooperation!</p>
    </div><!-- .sidebox -->
  </section><!-- #process -->
{% endblock %}
{% block remainder %}
  <div class="row">
    <div class="col-md-8">
      <section id="old-school">
        <h3>Want to keep it <span class="air-quotes">Old School?</span></h3>
        <p>
         If you want to keep it <span class="air-quotes">old school:</span>
        </p>
        <ul>
          <li>Call me at 303-863-1757.</li>
          <li>Send me a letter at P. O. Box 18216, Denver, CO 80218.</li>
        </ul>
        <p>
          Thanks and we look forward to hearing from you soon!
        </p>
      </section><!-- #old-school -->
    </div><!-- .col-md-8 -->
  </div><!-- .row -->
{% endblock %}
